<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLSV.Properties.Settings.LoginFormDbConnectionString"
            connectionString="Data Source=Vuong-Duc-Thoai\SQLEXPRESS;Initial Catalog=LoginFormDb;Persist Security Info=True;User ID=sa;Password=Thoai12309@;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>